@font-face {
    font-family: "Rubik";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-weight: 800;
    font-style: normal;
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.logo {
    outline: 1px solid rgb(206, 210, 215);
    padding-left: 60px;
}


.page-header-container {
    width: 1160px;
    margin: 0 auto;
    background-color: #FFE17F;
}

/* ползовательское меню */

.user-menu {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.user-search {
    display: flex;
}

.text-input {
    padding: 10px 20px 10px 48px;
    background-color: #FFE17F;
    border: 2px solid #000000;
    border-radius: 50px 0 0 50px;
    background-image: url("/images/vector/header/search.svg");
    background-position: 16px 12px;
    background-repeat: no-repeat;
}

.search-input:hover {
    background-color: #000000;
    color: #FFFFFF;
}


.search-input:focus,
.text-input:focus {
    outline: 2px solid #AF4FFF;
}


.search-input {
    padding: 10px 56px;
    background-color: #FFE17F;
    border: 2px solid #000000;
    border-radius: 0 50px 50px 0;
}

.login {
    padding-left: 27px;
    padding-right: 150px;
    margin-left: 26px;
    margin-right: 26px;
    background-image: url("/images/vector/header/login.svg");
    background-position: 0 9px;
    background-repeat: no-repeat;

}

.logo-image:hover,
.footer-contact-logo:hover,
.login:hover,
.compare:hover,
.cart:hover,
.delivery:hover,
.guarantee:hover,
.contacting:hover {
    opacity: 0.6;
}

.logo-image:active,
.footer-contact-logo:active,
.login:active,
.compare:active,
.cart:active,
.delivery:active,
.guarantee:active,
.contacting:active {
    opacity: 0.3;
}

.logo-image:focus,
.footer-contact-logo:focus,
.login:focus,
.compare:focus,
.cart:focus,
.catalog:focus,
.delivery:focus,
.guarantee:focus,
.contacting:focus {
    outline: 2px solid #AF4FFF;
}

.user-menu-list {
    outline: 1px solid rgb(206, 210, 215);
    width: 240px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style-type: none;
}

.compare {
    padding-left: 22px;
    margin-right: 36px;
    background-image: url("/images/vector/header/compare.svg");
    background-position: 0 9px;
    background-repeat: no-repeat;
}

.cart {
    padding-left: 25px;
    background-image: url("/images/vector/header/cart.svg");
    background-position: 0 6px;
    background-repeat: no-repeat;
    position: relative;
}

/* навигация */

.navigation {
    outline: 1px solid rgb(206, 210, 215);
    padding: 0 60px 0 60px;
}

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item:nth-child(1) {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 333px;
}

.navigation-item:nth-child(2) {
    margin-right: 45px;
}

.navigation-item:nth-child(3) {
    margin-right: 45px;
}

.navigation-item:nth-child(4) {
    margin: 0;
}

.catalog {
    display: block;
    margin-right: 7px;
}

.products {
    position: relative;
}

.button-category {
    display: block;
    align-items: center;
    padding: 17px;
    background-color: transparent;
    border: 2px solid #000000;
    background-image: url("/images/vector/header/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    opacity: 0.3;
    cursor: pointer;

}

.products:hover .button-category {
    display: block;
    align-items: center;
    padding: 17px;
    background-color: transparent;
    border: 2px solid #000000;
    background-image: url("/images/vector/header/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    opacity: 1;
    cursor: pointer;

}

.products:active .button-category {
    display: block;
    align-items: center;
    padding: 17px;
    background-color: transparent;
    background-image: url("/images/vector/header/minus.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    border-radius: 25px;
    opacity: 1;
    cursor: pointer;

}

.products:focus-within {
    display: block;
}

.products:focus {
    outline: 2px solid #AF4FFF;
    transform: scale(-2px, -2px);
}

.category-list-subcatalog {
    display: grid;
    grid-template-columns: 222px 211px 211px;
    grid-template-rows: 36px 36px 36px;
    row-gap: 5px;
    column-gap: 23px;
    width: 1040px;
    margin: 0;
    padding: 23px 60px 27px;
    background-color: #FFE17F;
    list-style-type: none;
    position: absolute;
    top: 40px;
    left: -60px;
    display: none;
}

.action-cameras {
    grid-row: 3 / 4;
}

.category-item {
    font-size: 16px;
    line-height: 18px;
}

/* main */

.main-container {
    flex-grow: 1;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/* slider */
.gallery-container,
.services-container {
    width: 1440px;
    margin: 0 auto;
}

.gallery-list {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 190px;
    padding-left: 140px;
    padding-right: 140px;
    list-style-type: none;
}
.gallery-item {
position: relative;
z-index: 1;
} 

.gallery-item::before {
    position: absolute;
    content: "";
    width: 1160px;
    height: 300px;
    background-image: url("/images/vector/yellow-background.svg");
    background-repeat: no-repeat;
    background-position: top;
    transform:translateY(-150px);
    z-index: 0;
}
.number {
    margin: 0;
    z-index: 1;
    color: #FFFFFF;
    
}

.slider-inner {
    display: flex;
    z-index: 1;
}

.slider-profile {
    position: relative;
    width: 560px;
    padding-bottom: 38px;
    margin-left: 40px;
}

.gallery-description-title {
    margin: 0;
    margin-bottom: 29px;
}

.gallery-description {
    margin: 0;
    margin-bottom: 51px;
}

.button-detail {
    display: block;
    width: 210px;
    padding: 5px 10px;
    margin-bottom: 49px;

}

.third-slider,
.second-slider,
.box-guarantee,
.box-credit {
    display: none;
}


.slider {
    width: 530px;
    display: flex;
    justify-content: space-between;
    padding-left: 170px;
    margin: 0;
    list-style-type: none;
    transform: translateY(-379px);
}

.button-slider {
    position: relative;
    padding: 30px 10px;
}

.slider-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.slider-pagination {
    position: absolute;
    width: 76px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 240px;
    left: 484px
}

.slider-pagination-button-current {
    padding: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #000000;
}

.slider-pagination-button-next {
    padding: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
}

/* catalog-category */

.category-list {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
    margin-bottom: 70px;
    list-style-type: none;
}

.delivery-image-wrapper {
    padding: 35px 125px;
}

.button-delivery {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 40px 250px;
    margin: 0 auto;
}

.button-delivery::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 100px;
    right: 905px;
    top: 5px;
    background: #ffe17f;
    background-image: url("/images/vector/main-index/delivery-car.svg");
    background-repeat: no-repeat;
    background-position: center;

}

.button-delivery::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 950px;
    border-radius: 20px;
    border: 1px solid rgba(220, 220, 220, 0.5);
    background-image: url("/images/vector/main-index/i.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.delivery-image-wrapper:hover .button-delivery::before {
    background: #ffc700;
    background-image: url("/images/vector/main-index/delivery-car.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.delivery-image-wrapper:active .button-delivery::before {
    opacity: 0.3;
}

.delivery-image-wrapper:active .button-delivery {
    opacity: 0.3;
}

.delivery-image-wrapper:active .button-delivery::after {
    opacity: 0.3;
}

/* services */

.services-description-list {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.services-list-shipping,
.services-list-guarantee,
.services-list-credit {
    outline: 1px solid rgb(206, 210, 215);
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 40px 40px 40px;
    row-gap: 35px;
    padding-left: 0;
    padding-top: 64px;
    padding-bottom: 65px;
    margin-right: 116px;
    list-style-type: none;
    align-items: center;
}

.button-services {
    font-family: "Raleway" sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
    border: none;
}

.services-list-shipping .shipping,
.services-list-guarantee .guarantee,
.services-list-credit .credit {
    color: #FFC500;
}


.services-list-shipping .guarantee,
.services-list-shipping .credit {
    background-image: url("/images/vector/main-index/Rectangle-yellow.svg");
    background-position: center;
    background-repeat: repeat-x;
}

.services-list-guarantee .shipping,
.services-list-guarantee .credit {
    background-image: url("/images/vector/main-index/Rectangle-yellow.svg");
    background-position: center;
    background-repeat: repeat-x;
}

.services-list-credit .shipping,
.services-list-credit .guarantee {
    background-image: url("/images/vector/main-index/Rectangle-yellow.svg");
    background-position: center;
    background-repeat: repeat-x;
}

.services-list-shipping .services-item-shipping,
.services-list-guarantee .services-item-guarantee,
.services-list-credit .services-item-credit {
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}


.box-delivery,
.box-guarantee,
.box-credit {
    display: flex;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 72px;
    justify-content: flex-start;
    background-image: url("/images/vector/main-index/Rectangle-grey.svg");
    background-position: bottom;
    background-repeat: no-repeat;
}

.box-guarantee,
.box-credit {
    display: none;
}

.box-delivery .services-text {
    display: block;
    width: 448px;
    padding-top: 72px;
    padding-right: 246px;
    padding-bottom: 73px;
    background-image: url("/images/vector/main-index/delivery.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.box-guarantee .services-text {
    display: block;
    width: 448px;
    padding-top: 72px;
    padding-right: 246px;
    padding-bottom: 73px;
    background-image: url("/images/vector/main-index/guarantee.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.box-credit .services-text {
    display: block;
    width: 448px;
    padding-top: 72px;
    padding-right: 246px;
    padding-bottom: 73px;
    background-image: url("/images/vector/main-index/credit.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.services-description-title {
    margin-top: 0;
    margin-bottom: 34px;
}

.services-description {
    margin: 0;
}

/* delivery-custom */

.delivery-custom-made {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

/* about_us */

.columns-about_us {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.about_us {
    outline: 1px solid rgb(206, 210, 215);
    width: 520px;
    padding-right: 23px;
    padding-bottom: 52px;
    margin-right: 108px;
}

.about_us-title,
.contacts-title {
    vertical-align: middle;
    padding-top: 47px;
    margin-top: 0;
    margin-bottom: 48px;
}

.about_us-text,
.contacts-text {
    margin-top: 0;
    margin-bottom: 30px;
}

.about_us-transport {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    list-style-type: none;
}

.about_us-transport-item:nth-child(1) {
    padding-left: 34px;
    margin-bottom: 19px;
}

.about_us-transport-item:nth-child(2) {
    padding-left: 34px;
    margin-bottom: 19px;
}

.about_us-transport-item:nth-child(3) {
    padding-left: 34px;

}

.contacts-subtitle {
    margin-top: 0;
    margin-bottom: 15px;
}

.contacts-address {
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts-schedule {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    list-style-type: none;
}

.button-about-us,
.button-email-us {
    padding: 10px 6px;
}

.contacts {
    outline: 1px solid rgb(206, 210, 215);
    width: 532px;
}

.subscription-wrapper {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 56px;
}

.subscription-digest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 144px;

}

.subscription-title {
    width: 348px;
    margin: 0;
    margin-right: 252px;
}

.subscription-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-comment {
    padding-left: 32px;
    background-image: url("/images/vector/main-index/green-tick.svg");
    background-position: left;
    background-repeat: no-repeat;
}

/* footer */
.footer-wrapper {
    outline: 1px solid rgb(78, 82, 87);
    display: flex;
    padding: 0 140px;
}

.footer-logo-address {
    outline: 1px solid rgb(78, 82, 87);
    width: 239px;
    margin-right: 119px;
    padding-top: 62px;
    padding-bottom: 77px;
}

.footer-address-text {
    position: relative;
    margin-top: 35px;
    margin-bottom: 64px;
}

.footer-address-text::after {
    content: "";
    width: 80px;
    height: 7px;
    position: absolute;
    background-color: #FFC500;
    left: 0;
    top: 124px;

}

.footer-useful {
    outline: 1px solid rgb(78, 82, 87);
    width: 444px;
    margin-right: 183px;
    padding-top: 137px;
    padding-bottom: 61px;
}

.footer-services {
    margin-bottom: 62px;
}

.footer-services-list {
    outline: 1px solid rgb(78, 82, 87);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.services-link:hover,
.footer-contacts-phone:hover {
    color: #ffc700;
    text-decoration: underline;
}

.services-link:active,
.footer-contacts-phone:active {
    color: #ffc700;
    text-decoration: underline;
    opacity: 0.3;
}

.services-link:focus,
.footer-contacts-phone:focus {
    outline: 2px solid #7B61FF;
}

.footer-social {
    width: 150px;
    padding-left: 147px;
    padding-right: 147px;

}

.footer-social-list {
    outline: 1px solid rgb(78, 82, 87);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button-telegram {
    position: relative;
    display: block;
    align-items: center;
    padding: 18px 18px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(78, 82, 87);
    border-radius: 20px;
    background-image: url("/images/vector/footer/telegram.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.button-telegram::before {
    content: "";
    width: 44px;
    height: 44px;
    border: 2px solid rgb(78, 82, 87);
    position: absolute;
    top: -6px;
    left: -6px;
}

.button-telegram:hover {
    background-color: #ffc700;
}

.button-telegram:active {
    background-color: #ffc700;
    opacity: 0.3;
}

.button-telegram:focus .button-telegram::before {
    content: "";
    width: 44px;
    height: 44px;
    border: 2px solid #AF4FFF;
    position: absolute;
    top: -6px;
    left: -6px;
}

.button-youtube {
    position: relative;
    display: block;
    align-items: center;
    padding: 18px 18px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(78, 82, 87);
    border-radius: 20px;
    background-image: url("/images/vector/footer/youtube.svg");
    background-position: center;
    background-repeat: no-repeat;
}


.button-youtube::before {
    content: "";
    width: 44px;
    height: 44px;
    border: 2px solid rgb(78, 82, 87);
    position: absolute;
    top: -6px;
    left: -6px;
}

.button-youtube:hover {
    background-color: #ffc700;
}

.button-youtube:active {
    background-color: #ffc700;
    opacity: 0.3;
}

.button-youtube:focus .button-youtube::before {
    content: "";
    width: 44px;
    height: 44px;
    border: 2px solid #AF4FFF;
    position: absolute;
    top: -6px;
    left: -6px;
}

.button-twitter {
    position: relative;
    display: block;
    align-items: center;
    padding: 18px 18px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(78, 82, 87);
    border-radius: 20px;
    background-image: url("/images/vector/footer/twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.button-twitter::before {
    content: "";
    width: 44px;
    height: 44px;
    border: 2px solid rgb(78, 82, 87);
    position: absolute;
    top: -6px;
    left: -6px;
}

.button-twitter:hover {
    background-color: #ffc700;
}

.button-twitter:active {
    background-color: #ffc700;
    opacity: 0.3;
}

.button-twitter:focus .button-twitter::before {
    content: "";
    width: 44px;
    height: 44px;
    border: 2px solid #AF4FFF;
    position: absolute;
    top: -6px;
    left: -6px;
}


.footer-phone-and-developer {
    outline: 1px solid rgb(78, 82, 87);
    padding-top: 140px;
    padding-bottom: 65px;
}

.htmlacademy-link {
    display: block;
    padding: 16px 57px;
    margin-top: 63px;
    background-image: url("/images/vector/footer/html.academy.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.htmlacademy-link:hover {
    background-image: url("/images/vector/footer/html-hover.svg");
}

.htmlacademy-link:active {
    background-image: url("/images/vector/footer/html-active.svg");

}

/* CATALOG */

.inner-header {
    display: flex;
    flex-direction: column;
}

.inner-header-wrapper {
    outline: 1px solid rgb(206, 210, 215);
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 60px;
    margin-right: 21px;
}

.inner-header-title {
    margin: 0;
    margin-bottom: 16px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
    padding-right: 20px;
    margin-right: 16px;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
    background-image: url("/images/vector/main-catalog/breadcrumbs.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-link {
    background-image: url("/images/vector/main-catalog/breadcrumbs.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.products-wrapper {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
}

.filter-group {
    margin: 0;
    padding: 0;
    border: none;
    margin-top: -2px;
}

.range-track {
    position: relative;
    height: 2px;
    margin-bottom: 11px;
    background-color: #DCDCDC;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #EBEBEB;
    border: 2px solid #000000;
    cursor: pointer;
    top: -7px;
}

.toggle-max {
    transform: translateX(110px);
}

.range-wrapper-cost {
    display: flex;
    justify-content: start;
}

.filter-label {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    opacity: 0.3;
}

.range-input {
    width: 47px;
    padding: 0 8px;
    border: none;
    background: transparent;
    font-size: 15px;
    line-height: 18px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}


.cost-field,
.color-field,
.bluetooth-field {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-title {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.catalog-filter-title::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 0;
    border-top: 2px solid #000000;
    bottom: 20px;
    left: -1px;
}


.catalog-filter-item:not(:last-child) {
    margin-bottom: 17px;
}

.control {
    position: relative;
}

.control-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15%;
    border: 1px solid #CCCCCC;
    background-color: #EBEBEB;
    left: 0;
}

.control-caption {
    padding-left: 16px;
}

.control-input[type="checkbox"]:checked+.control-icon::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15%;
    background-image: url("/images/vector/main-catalog/filter-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid #000000;
}

.control-icon-radio {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    background-color: #EBEBEB;
    left: 0;
    top: -2px;
}

.control-input-radio[type="radio"]:checked+.control-icon-radio::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #000000;
    top: 4px;
    left: 4px;
}

.control-input-radio[type="radio"]:checked+.control-icon-radio::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: transparent;
    top: -2px;
    left: -3px;
}

.show {
    background-image: url("/images/vector/main-index/Rectangle-yellow.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.show:hover {
    background-color: #FFE17F;
}

.show:active {
    background-color: #FFCC33;
}

.show:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-product-card-sorting {
    outline: 1px solid rgb(206, 210, 215);
    width: 840px;
}

.catalog-sorting {
    outline: 1px solid rgb(206, 210, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F0F0F0;
}

.catalog-sorting-title {
    padding-left: 40px;
}

.select-control {
    border: none;
    width: 141px;
    font: inherit;
    padding: 20px 32px 20px 0;
    border: none;
    background-image: url("/images/vector/main-catalog/sort-tick.svg");
    background-position: right 11px center;
    background-repeat: no-repeat;
    background-color: #F0F0F0;
    appearance: none;
}

/* sort */
.sorting-button {
    padding-right: 40px;
}

.button-up {
    padding: 6px 15px;
    background-image: url("/images/vector/main-catalog/up-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.button-down {
    padding: 6px 15px;
    background-image: url("/images/vector/main-catalog/down-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.button-up:hover,
.button-down:hover {
    opacity: 0.5;
}

.button-up:active,
.button-down:active {
    opacity: 1;
}

.button-up:focus,
.button-down:focus {
    opacity: 0.2;
    outline: 2px solid #AF4FFF;
}

.product-card-list {
    list-style-type: none;
}


.product-card-link {
    display: block;
    margin-bottom: 32px;

}

.product-card-item:hover {
    opacity: 0.6;
}

.product-card-item:active {
    opacity: 0.3;
}

.product-card-item:focus {
    outline: 2px solid #AF4FFF;
}

.title-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.product-card-title,
.product-card-price {
    margin: 0;
}

.pagination-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 145px;
    margin-right: 145px;
}

.pagination-item {
    display: flex;
    width: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination-link {
    display: block;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-decoration-line: none;
    opacity: 0.3;
}


.pagination-link-pagination-prev,
.pagination-link-pagination-next {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
}

.pagination-link-pagination-prev:hover,
.pagination-link-pagination-next:hover {
    background-color: #DCDCDC;
}

.pagination-link-pagination-prev:active,
.pagination-link-pagination-next:active {
    background-color: #DCDCDC;
    opacity: 0.3;
}


.pagination-link-pagination-prev:focus,
.pagination-link-pagination-next:focus {
    outline: 2px solid #AF4FFF;
    transform: scale(-2px, -2px);
}

/* FONTS header*/

.user-menu-link {
    color: inherit;
    align-items: center;
    text-decoration: none;
}

.navigation-link {
    outline: 2px solid rgb(206, 210, 215);
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-weight: 800;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

/* FONTS  main*/
.category-link {
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-decoration: none;
}

.number {
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    text-align: right;
    color: #000000;
}

.gallery-description-title,
.services-description-title,
.about_us-title,
.contacts-title,
.subscription-title,
.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.gallery-feature {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.gallery-value {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.button-detail,
.button-about-us,
.button-email-us,
.subscription-input,
.show {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


.catalog-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    width: 160px;
}

.catalog-category-description {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.services,
.delivery-custom-made,
.catalog-products {
    background: #F0F0F0;
}


.about_us-transport,
.product-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.contacts-phone {
    font-style: normal;
    color: inherit;
    text-decoration-line: underline;

}

.subscription {
    background: #F0F0F0;
}

/*FONTS footer */
.page-footer {
    background: #444444;
    color: #FFFFFF;
}

.text-input,
.search-input,
.footer-address-text,
.pagination {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}


.services-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-contacts-phone {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration-line: underline;
}

/*FONTS catalog */
.main-inner {
    color: #000000;
}



.catalog-filter-item {
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}

.catalog-products-title,
.catalog-sorting-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-product-card-sorting {
    background: #FFFFFF;
}

.pagination-group {
    background: #EBEBEB;
    color: #000000;
}

.product-card-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #444444;
}

.load-more {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
    padding: 18px 295px;
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
}

.load-more:hover {
    border: 3px solid #000000;
}

.load-more:active {
    border: 3px solid #000000;
    opacity: 0.3;
}

.load-more:focus {
    border: 3px solid #E5E5E5;
    outline: 2px solid #AF4FFF;
    transform: scale(-2px, -2px);
}


/* GRIDS */
/* GRIDS slider */
.features {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 12px;
    column-gap: 20px;
    width: 305px;
    height: 72px;
}

.gallery-feature {
    grid-row: 2 / 3;
    margin: 0;
}

/* GRIDS catalog-category */

.catalog-link {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 160px 60px;
    row-gap: 32px;
}

.catalog-category-image:hover {
    background: #ffc700;
}

.catalog-link:active .catalog-category-image {
    opacity: 0.3;
}

.catalog-link:active .catalog-category-description {
    opacity: 0.3;
}

.catalog-category-image {
    background: #FFE17F;
    min-width: 100%;
    height: 100%;

}

/* GRIDS mail subscription*/

.subscription-form {
    display: grid;
    grid-template-columns: 557px 253px;
    width: 810px;
}

.mail {
    font-style: bold;
    font-size: 18px;
    line-height: 23px;
    color: inherit;
    opacity: 0.5;
    border: none;
    border-bottom: 5px solid #C4C4C4;
    background-color: #F0F0F0;
    padding: 11px 305px 14px 16px;
    margin: 0;
}
.subscription-input {
    padding: 18px 39px;
    border: 5px solid #C4C4C4;
 background-color: #F0F0F0;
}

/* GRIDS catalog*/

.catalog-filter-form {
    outline: 1px solid rgb(206, 210, 215);
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 69px 95px 220px 112px 40px;
    width: 320px;
    height: 1316px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 64px;
    row-gap: 35px;
}

.product-card {
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 948px 55px 71px;
    padding-top: 70px;
    padding-bottom: 78px;
    padding-left: 40px;
    padding-right: 40px;
    row-gap: 44px;
    column-gap: 40px;
}

.product-card-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 452px 452px;
    padding: 0;
    margin: 0;
    row-gap: 44px;
    column-gap: 40px;
}

.product-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load-more,
.pagination-group {
    grid-column: 1 / -1;
}

/* popover */
.popover {
    width: 320px;
    min-height: 134px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 83px 83px 44px 90px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #000000;
    position: absolute;
    top: 33px;
    left: -160px;
    z-index: 1;
    display: none;
}

.cart-list {
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    position: relative;
}
.cart-item:hover {
    opacity: 0,3;
}
.cart-item:active {
    opacity: 0,6;
}
.cart-item:focus {
    outline: 2px solid #AF4FFF;
    transform: scale(-2px, -2px);
}

.cart-product {
    padding-left: 23px;
}

.summary-cart {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    grid-row: 3 / 4;
}

.cart-open {
    padding: 20px;
    background-color: #000000;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.button-cart-open {
    width: 280px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 25px;
    list-style-type: none;
}

.button-cart-product {
    padding: 10;
    margin: 0;
    cursor: pointer;
}

.cart-product-icon::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("/images/vector/header/delete-card-popover.svg");
    background-position: right;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* .popover-open {
    display: block;
} */


/*modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(240, 240, 240, 0.9);
    display: none;
}

.delivery-modal {
    display: flex;
    flex-wrap: wrap;
}
.modal-content {
    position: relative;
    width: 760px;
    margin: auto;
    padding: 72px 80px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
}

.modal-title {
    padding: 0;
    margin: 0;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 72px;
    right: 80px;
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    border: none;
    background-image: url(/images/vector/main-index/close-modal.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.modal-close-button:hover {
    opacity: 0.6;
}
.modal-close-button:active {
    opacity: 0.3;
}
.modal-close-button:focus {
    outline: 2px solid #AF4FFF;
    transform: scale(-2px, -2px);
}

.field-group {
    font-style: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 42px;
    padding: 0;
}

.name {
    width: 360px;
    margin-right: 40px;
}

.mail-field {
    width: 360px;
}

.name-product {
    width: 540px;
    margin-right: 40px;
}

.amount {
    width: 180px;
    position: relative;
}
.modal-field {
    font-style: bold;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    opacity: 0.3;
    background-color: #F0F0F0;
    padding: 20px 36px 20px 20px;
    margin-top: 14px;
}

.modal-field-text {
    font-size: 14px;
    line-height: 20px;
}

.mail-text {
    color: #FF3D3D;
}

.name-field {
    background-image: url("/images/vector/login-modal.svg");
    background-position: 325px 24px;
    background-repeat: no-repeat;
}
.email {
    background-image: url("/images/vector/mail-modal.svg");
    background-position: 325px 24px;
    background-repeat: no-repeat;  
}
/* /Users/comp/Desktop/Work/Device/2106377-device-34/images/vector/mail-modal.svg */

.modal-field-amount::-webkit-outer-spin-button,
.modal-field-amount::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    padding: 0;
}

.modal-field-amount {
    width: 60px;
    padding: 18px 60px;
    margin-top: 14px;
    border: none;
    background: transparent;
    font-style: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #F0F0F0;
}

.button-minus {
    position: absolute;
    padding: 30px;
    border: none;
    background: transparent;
    background-image: url("/images/vector/header/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 35px;
}

.button-plus {
    position: absolute;
    padding: 30px;
    border: none;
    background: transparent;
    background-image: url("/images/vector/header/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 35px;
    left: 120px;

}

.button-sending {
    font-family: "Raleway" sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 50px;
    margin-top: 42px;
    border: none;
    background-color: #FFFFFF;
    background-image: url("/images/vector/main-index/Rectangle-yellow.svg");
    background-position: center;
    background-repeat: repeat-x;
}
