@font-face {
    font-family: "Rubik";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-weight: 800;
    font-style: normal;
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

/* header */

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.logo {
    outline: 1px solid red;
}
/* ползовательское меню */
.user-menu {
    outline: 1px solid green;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1040px;
}
.user-menu-wrapper {
    outline: 1px solid yellowgreen;
    display: flex;
    margin: 0;
    padding: 0;
}
.user-menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* навигация */
.navigation {
    outline: 2px solid yellow;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1040px;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-list-header {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* main */
.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1440px;
    margin: 0 auto;
}
/* slider */
.gallery-list {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 1480px;
    margin: 0 auto;
}
/* catalog-category */
.category-list {
    outline: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 140px;
}
/* services */
.services {
    outline: 1px solid violet;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 140px;
}

/* delivery-custom */

.delivery-custom-made{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 140px;
}
/* about_us */

.columns-about_us {
    outline: 1px solid yellow;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 140px;
}
.about_us {
    width: 520px;
}

.contacts {
    width: 532px;
}

.subscription-wrapper {
    outline: 1px solid darkorange;
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
}
.subscription-digest {
    display: flex;
    margin-left: 147px;
    margin-right: 133px;
    padding: 0;
}
.subscription-mail {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* footer */
.page-footer-container {
    outline: 1px solid darkblue;
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

.footer-logo-address {
    outline: 1px solid green;
    width: 239px;
    margin-left: 140px;
    margin-right: 119px;
}

.footer-useful {
    outline: 1px solid green;
    width: 444px;
    margin-right: 183px;
}
.footer-services-list {
    outline: 2px solid darkgreen;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social-list {
    outline: 2px solid darkgreenw;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-phone-and-developer{
    outline: 1px solid green;
    width: 175px;
    margin-right: 140px;
}

/* fonts */
.user-menu-link {
    color: inherit;
    align-items: center;
    text-decoration: none;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-weight: 800;
    line-height: 21px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}

.category-link {
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-decoration: none;
}

.number {
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    text-align: right;
    color: #000000;
}

.gallery-description,
.services-description-title,
.about_us-title,
.contacts-title,
.subscription-title,
.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.gallery-feature {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.gallery-value {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.button-detail,
.button-services,
.button-about-us,
.button-email-us,
.subscription-input,
.show,
.pagination-link-pagination-prev,
.pagination-link-pagination-next {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-category-image {
    background: #FFE17F 160px 160px;
}

.catalog-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    width: 160px;
}

.catalog-category-description {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;

}

.services {
    background: #F0F0F0 1440px 289px;
}

.delivery-custom-made {
    background: #F0F0F0 1160px 100px;

}

.button-delivery {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
    margin: 0 auto;
}

.delivery-custom-made-image {
    background: #FFC700 125px 100px;
}


.about_us-transport,
.catalog-filter-title,
.product-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.contacts-phone {
    font-style: normal;
    color: inherit;
    text-decoration-line: underline;

}

.subscription {
    background: #F0F0F0 1440px 421px;
}

/* footer */
.page-footer {
    background: #444444 1440px 321px;
    color: #FFFFFF;
}

.footer-address-text,
.pagination {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.services-link,
.button-social {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-contacts-phone {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration-line: underline;
}

/* catalog */
.main-inner {
    color: #000000;
}

.breadcrumbs-link,
.catalog-filter-item {
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}

.catalog-products-title,
.catalog-sorting-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.pagination-group {
    background: #EBEBEB 760px 71px;
    color: #000000;
}

.product-card-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    color: #444444;
}

.load-more {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-decoration-line: none;
}